<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>WOW & Flutter Config Generator</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.red.min.css"> <!-- amber, grey, slate -->
		<link rel="stylesheet" href="/style.css">
		<script type="module">
			// import {createApp, reactive} from 'https://unpkg.com/petite-vue?module';
			import {createApp, reactive} from 'https://unpkg.com/petite-vue/dist/petite-vue.es.js';
			import settings from './settings.json' with {type: 'json'};
			const store = reactive(settings);
			function slider(name, settings) {
				return {
					$template: '#slider',
					name,
					min: store[name].values[0] || 0,
					max: store[name].values[1] || 100,
					step: store[name].values[2] || 1,
					label: store[name].label,
					tooltip: store[name].tooltip,
				};
			}
			function select(name, settings) {
				return {
					$template: '#select',
					name,
					values: store[name].values,
					label: store[name].label,
					tooltip: store[name].tooltip,
				};
			}
			createApp({
				slider,
				select,
				store,
				prefix: '[wowmachine]\n\n#In this file, do not delete any #.\n\n',
				get config() {
					return this.prefix + Object.entries(this.store).map(([key, value]) => `${value.comment}\n${key} = ${value.value}`).join('\n\n');
				},
				download() {
					const blob = new Blob([this.config()], {type: 'text/plain'});
					const url = URL.createObjectURL(blob);
					const a = document.createElement('a');
					a.href = url;
					a.download = 'wow_settings.txt';
					a.click();
					URL.revokeObjectURL(url);
				},
				upload() {
					const fileInput = document.createElement('input');
					fileInput.type = 'file';
					fileInput.accept = '.txt';
					fileInput.onchange = (e) => {
						const file = e.target.files[0];
						const reader = new FileReader();
						reader.onload = (e) => {
							const config = e.target.result;
							const lines = config.split('\n');
							lines.forEach(line => {
								const [key, value] = line.split('=');
								if (key && value) {
									this.store[key].value = value;
								}
							});
						}
						reader.readAsText(file);
					}
					fileInput.click();
				}
			}).mount('main');
		</script>
</head>
<body>
	<header>
		<h1>WOW & Flutter Config Generator</h1>
		<p>Generate your WOW and Flutter config files with ease</p>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
			</ul>
		</nav>
	</header>
	<main class="container">
		<template id="slider">
			<label>
				{{ label }}: {{ store[name].value }}
				<input type="range" :name="name" :min="min" :max="max" :step="step" v-model="store[name].value" :title="tooltip">
			</label>
		</template>
		<template id="select">
			<label>
				{{ label }}
				<select :name="name" v-model="store[name].value">
					<option v-for="value in values" :value="value">{{ value }}</option>
				</select>
			</label>
		</template>
		<form>
			<button @click="upload">Upload</button>
			<fieldset class="grid">
				<div>
					<h3>Left</h3>
					<div v-scope="select('fader_left')"></div>
					<div v-scope="slider('left_cut_value')"></div>
				</div>
				<div>
					<h3>Right</h3>
					<div v-scope="select('fader_right')"></div>
					<div v-scope="slider('right_cut_value')"></div>
				</div>
			</fieldset>
			<h3>Pitch</h3>
			<fieldset class="grid">
				<div v-scope="slider('33rpm_value')"></div>
				<div v-scope="slider('pitch_range_min')"></div>
				<div v-scope="slider('pitch_range_max')"></div>
			</fieldset>
			<fieldset class="grid">
				<div v-scope="slider('wheel_response')"></div>
				<div v-scope="slider('sample_high_pass_frequency')"></div>
			</fieldset>
			<fieldset class="grid">
				<div v-scope="select('effect_mode')"></div>
			</fieldset>
			<h3>Delay</h3>
			<fieldset class="grid" v-show="store.effect_mode.value === 'delay' || store.effect_mode.value === 'both'">
				<div v-scope="slider('delay_length')"></div>
				<div v-scope="slider('delay_strength')"></div>
			</fieldset>
			<h3>Reverb</h3>
			<fieldset class="grid" v-show="store.effect_mode.value === 'reverb' || store.effect_mode.value === 'both'">
				<div v-scope="slider('reverb_roomsize')"></div>
				<div v-scope="slider('reverb_strength')"></div>
				<div v-scope="slider('reverb_damping')"></div>
				<div v-scope="slider('reverb_tone_low_pass_hz')"></div>
			</fieldset>
			<button @click="download">Download</button>
		</form>
	</main>
	<footer>
		<p>Copyright &copy; 2025 Mark Honeychurch</p>
	</footer>
</body>
</html>
